<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Email: <input name="email" type="text" />
    <br />
    First name: <input name="first_name" type="text" />
    <br />
    Last name: <input name="last_name" type="text" />
    <input type="submit">
</form>
</body>
</html>
</html>