<!DOCTYPE html>
<html>
<head>
    <title>Skill - Add</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill Name: <input name="skill_name" type="text" />
    <br />
    Skill Description: <input name="description" type="text" />
    <input type="submit">
</form>
</body>
</html>