<!DOCTYPE html>
<html>
<head>
    <title>Company - Add</title>
</head>
<body>
<h1>Add New Company</h1>
<form action="/company/insert" method="get">
    Company Name: <input name="company_name" type="text" />
    <br />
    <input type="submit">
</form>
</body>
</html>