<!DOCTYPE html>
<html>
<head>
    <title>Address - Add</title>
</head>
    <body>
    <h1>Add New Address</h1>
        <form action="/address/insert" method="get">
            Address Street: <input name="street" type="text" />
            <br />
            Address ZIP: <input name="zip_code" type="text" />
            <input type="submit">
        </form>
    </body>
</html>
</html>
