<!DOCTYPE html>
<html>
<head>
    <title>Address - View All</title>
</head>
<body>
<h1>Addresses</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>Zip Code</th>
    </tr>
    <% for (var i = 0; i < addresses.length; i++) { %>
    <tr>
        <td><%= addresses[i].address_id %></td>
        <td><%= addresses[i].street %></td>
        <td><%= addresses[i].zip_code %></td>
    </tr>
    <% } %>
</table>

</body>
</html>